{% extends 'tokoapp/base.html'%}

{% block title %}Tambah Barang{% endblock %}

{% block content %}
<div class=formwarp>
    <form method="POST" class="post-form" action="{% url 'tokoapp:submit'%}">
        Tambah Barang
        <br />
        <br />
        {% csrf_token %}
        <label for="nama_barang">Nama Barang</label>
        <br />
        <input class="input-box" type="text" name="nama_barang" id="nama_barang">
        <br />

        <label for="foto">Lokasi Foto</label>
        <br />
        <input class="input-box" type="text" name="foto" id="foto">
        <br />

        <label for="foto">Harga</label>
        <br />
        <input class="input-box" type="text" name="harga" id="harga">
        <br />

        <button type="submit" class="save btn btn-warning">Tambah</button>
    </form>
</div>
{% endblock %}